<!-- content -->
<div>
    Hello!
</div>
<div>
    You added apartment:<br />
    Count Rooms: {{ apartment.count_rooms }}<br />
    Count Bathrooms: {{ apartment.count_bathrooms }}<br />
    Square: {{ apartment.square }}<br />
    Has Parking: {{ apartment.has_parking }}<br />
    Address: {{apartment.unit}} {{apartment.street}}, {{apartment.building}} {{apartment.zip_code}}
    {{apartment.city}} {{apartment.region}} {{apartment.country}}<br />
    Comment: {{ apartment.comment }}<br />
</div>